corpus = Example
action = annotate, evaluate, data_stats, create_lm, variants, surprisal, dorm, orality, analyze_relcs, tables
annotations = brackets, topf, chunks, phrases, extrap
models = news1, news2, hist, mix, topfpunct
format_gold = conllup
format_in = conllup
norm = None

model_dir = ./../models
in_dir = ./../data/input/Example
out_dir = ./../data/system/Example
gold_dir = ./../data/gold/Example
eval_dir = ./../data/eval
variant_dir = ./../data/variants/Example

train_dir = ./../data/lm_train/Example
lm_dir = ./../lm/models/ExampleLM
lm_models_n = 2
lm_models = WORD, XPOS